@mixin flex-column($direction: center) {
    display: flex;
    flex-direction: column;
    justify-content: $direction;
}


$black:    #000 !default;
$gray-200: #e9ecef !default;
$gray-500: #adb5bd !default;
$green:   #28a745 !default;
$red:     #dc3545 !default;
$gray-400: #ced4da !default;
$gray-50: #fafafa;
$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-sm:                ($font-size-base * .875) !default;

db-dynamic-form db-form-control .form-group {
    border-color: 1px solid  $red;
    margin-bottom: 20px;

    .invalid-feedback {
        display: none;
    }
}

db-dynamic-form .submit-attempted {
    db-form-control .form-control.ng-invalid ~ .invalid-feedback{
        display: block;
    }
}


@import './boostrap.grid.scss';
