// Import the fonts
@import "../abstracts/variables";

@mixin font-face($name, $path, $style, $weight, $svg) {

    @font-face {
        font-family: $name;
        src: url('#{$path}.eot');
        src: url('#{$path}.eot?#iefix') format('embedded-opentype'),
        url('#{$path}.woff') format('woff'),
        url('#{$path}.ttf') format('truetype'),
        url('#{$path}.svg##{$svg}') format('svg');
        font-style: $style;
        font-weight: $weight;

    }

}
